.hero-section {
  height: 80vh;
  background-image: url("/assets/fondo-animado.gif");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  color: #f5f7f7;
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 12px;
  color: white;
  max-width: 800px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.2rem;
}

.contenido-animado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}


.animated-img {
  width: 150px;
  height: auto;
}

.outline-title {
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #fff;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .contenido-animado {
    flex-direction: column;
    text-align: center;
  }

  .animated-img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .name {
    font-size: 1rem; 
    text-align: center;
    line-height: 1.2;
  }
  
}