.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  background-color: rgba(28, 20, 54, 0.784);
  color: white;
  font-weight: bold;
  margin: 0;
  height: 60px;
  position: sticky; /* ← fijo en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.nav-grid a {
  display: block;
  padding: 1rem;
  transition: background 0.3s ease;
  text-align: center;
}

.nav-grid a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


@media (max-width: 100px) {
  .nav-grid {
    grid-template-columns: 1fr;
    height: auto; /* ← ya no fija, se adapta */
    padding: 0.5rem 0;
    text-align: center;
    gap: 0;
  }

  .nav-grid a {
    padding: 0.75rem;
    font-size: 1rem;
  }
 
}
