.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.skill-card {
  background: #1e1e1e;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  width: 260px;
  transition: all 0.4s ease;
  font-weight: bold;
  box-shadow: 0 0 8px #000;
}

.skill-card:hover {
  transform: scale(1.05);
}

/* Usando el ID ahora que fue restaurado */
#habilidades ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

#habilidades li {
  margin-bottom: 0.5rem;
}
